/* line 4, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/campaigns.scss */
.funds {
  height: 100vh;
  position: relative;
  z-index: 400;
}

/* line 9, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/campaigns.scss */
.campaigns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* line 16, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/campaigns.scss */
.campaigns a {
  text-decoration: none;
  color: black;
}
/* line 20, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/campaigns.scss */
.campaigns .campaign {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 500px;
  margin: 20px;
  position: relative;
  z-index: 20;
  background-position: center;
  background-size: 210px;
}
/* line 30, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/campaigns.scss */
.campaigns .campaign .campaign-spacer {
  height: 120px;
}
/* line 33, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/campaigns.scss */
.campaigns .campaign .raised-spacer {
  height: 20px;
}
/* line 35, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/campaigns.scss */
.campaigns .campaign .raised-spacer .raised-numbers {
  z-index: 100;
  position: relative;
  font-family: 'numbers';
  font-weight: bold;
  display: none;
  color: white;
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
  -webkit-text-stroke: 1px black;
}
/* line 48, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/campaigns.scss */
.campaigns .campaign:hover {
  box-shadow: 0.03em 0.03em 0.03em 0.03em gray;
}
/* line 50, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/campaigns.scss */
.campaigns .campaign:hover .raised-spacer .raised-numbers {
  display: block;
  width: 100%;
  height: 20px;
  animation-name: popup;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}
/* line 62, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/campaigns.scss */
.campaigns .raised-circle {
  position: relative;
  z-index: 10;
  transform: translateY(-240px);
}
/* line 66, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/campaigns.scss */
.campaigns .raised-circle .circular-chart {
  z-index: 10;
  position: absolute;
  width: 249px;
  height: 241px;
}
/* line 67, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/campaigns.scss */
.campaigns .raised-circle .circular-chart .togo {
  z-index: 0;
  stroke: #bc9f76;
}
/* line 76, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/campaigns.scss */
.campaigns .raised-circle .circle {
  stroke: #6a8751;
  fill: none;
  stroke-width: 2;
  animation: progress 1s ease-out forwards;
}
/* line 83, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/campaigns.scss */
.campaigns .togo-circle {
  z-index: 9;
}

@keyframes popup {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes sway {
  0% {
    transform: rotateY(10deg);
  }
  100% {
    transform: rotateY(-10deg);
  }
}
@-moz-keyframes sway {
  0% {
    transform: rotateY(10deg);
  }
  100% {
    transform: rotateY(-10deg);
  }
}
@-o-keyframes sway {
  0% {
    transform: rotateY(10deg);
  }
  100% {
    transform: rotateY(-10deg);
  }
}
@keyframes sway {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}
/* line 19, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/chorus.scss */
.chorus {
  z-index: 200;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}
/* line 25, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/chorus.scss */
.chorus .male {
  width: 19vw;
}
/* line 28, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/chorus.scss */
.chorus .female {
  width: 17vw;
}
/* line 31, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/chorus.scss */
.chorus .singers {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}
/* line 38, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/chorus.scss */
.chorus .singers .singer {
  overflow: hidden;
  z-index: 200;
  padding-top: 40vh;
}
/* line 44, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/chorus.scss */
.chorus .sway {
  -moz-animation: sway 3.5s infinite linear forwards;
  /* Firefox */
  -o-animation: sway 3.5s infinite linear forwards;
  /* Opera */
  -webkit-animation: sway 3.5s infinite linear forwards;
  /* Safari and Chrome */
  -webkit-backface-visibility: hidden;
  animation: sway 3.5s infinite linear forwards;
}

@media screen and (max-width: 780px) {
  /* line 54, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/chorus.scss */
  .chorus {
    margin: 30vh 0px;
  }
}
@font-face {
  font-family: 'main';
  src: url(/assets/CormorantGaramond-Medium-5c7cd8553eb6ff6d08fc4408bb63744dfc9f70d64dacd6ec194e3048532323e1.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'main';
  src: url(/assets/CormorantGaramond-Bold-e77391f7054f9e0611730cb83612a13541bae9377fa9a6cfeaf27a54e45714d3.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'numbers';
  src: url(/assets/Inconsolata-Bold-c268fae6dbf17a27f648218fac958b86dc38e169f6315f0b02866966f56b42bf.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'numbers';
  src: url(/assets/Inconsolata-Regular-e28c150b4390e5fd59aedc2c150b150086fbcba0b4dbde08ac260d6db65018d6.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fly {
  0% {
    transform: scale(0.3, 0.3);
    left: -50%;
    top: 300px;
  }
  100% {
    transform: scale(0.8, 0.8);
    left: 100%;
    top: 200px;
  }
}
@-moz-keyframes fly {
  0% {
    transform: scale(0.3, 0.3);
    left: -50%;
    top: 300px;
  }
  100% {
    transform: scale(0.8, 0.8);
    left: 100%;
    top: 200px;
  }
}
@-o-keyframes fly {
  0% {
    transform: scale(0.3, 0.3);
    left: -50%;
    top: 300px;
  }
  100% {
    transform: scale(0.8, 0.8);
    left: 100%;
    top: 200px;
  }
}
@keyframes fly {
  0% {
    transform: scale(0.3, 0.3);
    left: -50%;
    top: 300px;
  }
  100% {
    transform: scale(0.8, 0.8);
    left: 100%;
    top: 200px;
  }
}
/* line 18, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.nature {
  overflow: hidden;
}
/* line 20, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.nature .forest {
  z-index: 50;
  bottom: -20px;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
}
/* line 28, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.nature .forest .aspen {
  width: 100px;
  max-height: 60vh;
}
/* line 34, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.nature .skyline {
  z-index: 10;
  width: 100%;
  height: 100vh;
}
/* line 40, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.nature .sun {
  position: fixed;
  z-index: 9;
  width: 30vw;
  top: 50vh;
  left: 70vw;
  o-transition: top 4s;
  /* Opera */
  -moz-transition: top 4s;
  /* Firefox */
  -webkit-transition: top 4s;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transition: top 4s;
}
/* line 54, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.nature .sun-up {
  top: 20vh;
}
/* line 58, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.nature .taneger-fly-space {
  position: fixed;
  z-index: 10;
  top: 200px;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
/* line 65, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.nature .taneger-fly-space .taneger {
  overflow: hidden;
  position: fixed;
  left: -20%;
}
/* line 71, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.nature .fly {
  -moz-animation: fly 3.5s 1 linear forwards;
  /* Firefox */
  -o-animation: fly 3.5s 1 linear forwards;
  /* Opera */
  -webkit-animation: fly 3.5s 1 linear forwards;
  /* Safari and Chrome */
  -webkit-backface-visibility: hidden;
  animation: fly 3.5s 1 linear forwards;
}

/* line 80, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.blurbs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 81, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.blurbs .blurb1 {
  height: 1200px;
  text-align: center;
}
/* line 85, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.blurbs .blurb2 {
  height: 1200px;
  text-align: center;
}
/* line 89, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.blurbs .blurb3 {
  height: 1200px;
  text-align: center;
}
/* line 93, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.blurbs .blurb4 {
  height: 1200px;
  text-align: center;
}
/* line 97, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.blurbs .blurb5 {
  height: 100px;
}
/* line 100, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.blurbs #scrolldown {
  -moz-animation: bounce 0.8s infinite;
  /* Firefox */
  -o-animation: bounce 0.8s infinite;
  /* Opera */
  -webkit-animation: bounce 0.8s infinite;
  /* Safari and Chrome */
  -webkit-backface-visibility: hidden;
  animation: bounce 0.8s infinite;
  z-index: 51;
  font-size: 3em;
  top: 60%;
}
/* line 114, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.blurbs .fades-in {
  top: 10vh;
  font-size: 2em;
  text-align: center;
  font-family: 'main';
  text-align: center;
  width: 100%;
  opacity: 0;
  position: fixed;
  z-index: 100;
  -moz-transition: opacity 0.4s;
  /* Firefox */
  -o-transition: opacity 0.4s;
  /* Opera */
  -webkit-transform-style: preserve-3d;
  -webkit-transition: opacity 0.4s;
  /* Safari and Chrome */
  transition: opacity 0.4s;
}

/* line 132, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.sign {
  position: fixed;
  z-index: 52;
  bottom: -30px;
  left: -600px;
  width: 40%;
  min-width: 300px;
  -moz-transition: left 0.7s;
  /* Firefox */
  -o-transition: left 0.7s;
  /* Opera */
  -webkit-transform-style: preserve-3d;
  -webkit-transition: left 0.7s;
  /* Safari and Chrome */
  transition: left 0.7s;
}
/* line 144, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.sign .sign-text {
  position: relative;
  bottom: 300px;
  z-index: 53;
  text-shadow: 2px 2px gray;
}
/* line 149, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.sign .sign-text a {
  font-size: 2em;
  font-family: 'numbers';
  text-decoration: none;
  color: #f4df42;
}

/* line 158, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
.sign-up {
  left: 50%;
}

@media (max-width: 1200px) {
  /* line 163, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
  .aspen {
    width: 200px;
  }

  /* line 166, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/nature.scss */
  .sign-up {
    left: 10%;
  }
}
/* line 4, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/progress.scss */
.funds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(white, #8fbfef);
  height: 100vh;
}
/* line 10, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/progress.scss */
.funds .funds-titles {
  width: 100%;
  font-family: 'main';
  font-weight: bold;
  text-align: center;
  margin-bottom: 3.7vh;
  margin-top: 4vh;
}
/* line 17, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/progress.scss */
.funds .funds-titles .funds-title {
  font-size: 4em;
  margin-bottom: 1vh;
}
/* line 21, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/progress.scss */
.funds .funds-titles .funds-subtitle {
  font-size: 1.3em;
  margin-bottom: 1.5vh;
}
/* line 25, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/progress.scss */
.funds .funds-titles .funds-subtitle-link {
  font-size: 1.3em;
}
/* line 29, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/progress.scss */
.funds .progress {
  min-width: 40%;
  max-width: 800px;
  margin: auto;
}
/* line 33, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/progress.scss */
.funds .progress .progress-bar {
  height: 20px;
  min-width: 300px;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  background-color: #bc9f76;
  border-radius: 10px;
  overflow: hidden;
}
/* line 42, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/progress.scss */
.funds .progress .progress-bar .raised {
  background-color: #6a8751;
  border-radius: 0px;
}
/* line 47, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/progress.scss */
.funds .progress .progress-numbers {
  margin-top: 20px;
  font-family: 'numbers';
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 30px;
  font-weight: bold;
}
/* line 58, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/progress.scss */
.funds .progress .progress-numbers .of {
  font-size: 25px;
}
/* line 61, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/progress.scss */
.funds .progress .progress-numbers .goal {
  color: #bc9f76;
  margin-left: 5px;
}
/* line 65, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/progress.scss */
.funds .progress .progress-numbers .raised {
  color: #6a8751;
  margin-right: 5px;
}
/* line 1, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/title.scss */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 500;
  width: 100%;
  height: 30vh;
  position: absolute;
}
/* line 10, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/title.scss */
.title .logo {
  font-size: 8vw;
  font-family: 'papyrus';
  color: white;
  text-shadow: 0.1vw 0.1vw 0.1vw black;
  -webkit-text-stroke: 0.1vw black;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 3vh;
  height: 80%;
}
/* line 23, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/title.scss */
.title .logo img {
  display: block;
  max-width: 500px;
}
/* line 28, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/title.scss */
.title .subtitle {
  position: absolute;
  top: 80vh;
  height: 15vh;
  color: white;
  text-align: center;
  font-family: 'papyrus';
  font-size: 6.2vw;
  z-index: 500;
  text-shadow: 0.09vw 0.09vw 0.09vw black;
  -webkit-text-stroke: 0.09vw black;
}

@media screen and (max-width: 780px) {
  /* line 43, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/title.scss */
  .title {
    height: 68vh;
  }
  /* line 45, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/title.scss */
  .title .subtitle {
    font-size: 6vw;
  }

  /* line 50, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/title.scss */
  .logo img {
    width: 100%;
    max-width: 100%;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 23, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/application.scss */
body {
  height: 100%;
  margin: 0px;
}
/* line 26, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/application.scss */
body .sunrise {
  height: 100vh;
  background: -webkit-linear-gradient(#8fbfef, #f47142);
  background: -moz-linear-gradient(top, #8fbfef 0%, #f47142 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fbfef), color-stop(100%, #f47142));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8fbfef 0%, #f47142 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8fbfef 0%, #f47142 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8fbfef 0%, #f47142 100%);
  /* IE10+ */
  background: linear-gradient(to top, #8fbfef 0%, #f47142 100%);
  /* W3C */
}
/* line 36, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/application.scss */
body .photo1 {
  z-index: 201;
}
/* line 39, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/application.scss */
body .photo2 {
  z-index: 202;
}
/* line 42, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/application.scss */
body .photo3 {
  z-index: 203;
}
/* line 45, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/application.scss */
body .photo4 {
  z-index: 204;
}
/* line 48, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/application.scss */
body .photo5 {
  z-index: 205;
}
/* line 51, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/application.scss */
body .photo6 {
  z-index: 206;
}
/* line 54, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/application.scss */
body .photo7 {
  z-index: 207;
}
/* line 57, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/application.scss */
body .photo {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  top: 0px;
  opacity: 0;
  o-transition: opacity 2s;
  /* Opera */
  -moz-transition: opacity 2s;
  /* Firefox */
  -webkit-transition: opacity 2s;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transition: opacity 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: black;
}
/* line 75, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/application.scss */
body .photo img {
  object-fit: cover;
  height: 100vh;
}
/* line 80, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/application.scss */
body .showing {
  opacity: 1;
}

@media screen and (max-width: 780px) {
  /* line 87, /Users/alexbeeken/Code/ooolation_fundraising/app/assets/stylesheets/application.scss */
  .photo img {
    width: 100vw;
  }
}
