/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @keyframes fade-in {
     0%   { opacity: 0; }
     100% { opacity: 1; }
 }

body {
  height: 100%;
  margin: 0px;
  .photo5 {
    z-index: 205;
  }
  .photo-slide {
    height: 100vh;
    overflow: hidden;
    background: black;
  }
  .photo {
    width: 100%;
    background: black;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
  .showing {
    opacity: 1;
  }
}

@media screen and (max-width: 780px) {
    .photo-slide {
      width: 100vw;
      overflow: hidden;
    }
    .photo {
      img {
        margin-top: 20vh;
      }
    }
}
