$raised-color: #22b743;
$togo-color: #6d5b42;

.progress {
  .progress-bar {
    height: 100px;
    display: flex;
    flex-direction: row;
    .raised {
      height: 80px;
      background-color: $raised-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0px solid black;
      border-radius: 20px 0px 0px 20px;
    }
    .togo {
      height: 80px;
      background-color: $togo-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0px 20px 20px 0px;
    }
  }
  .progress-numbers {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 30px;
    font-weight: bold;
    .of {
      font-size: 25px;
    }
    .goal {
      color: red;
      margin-left: 5px;
    }
    .raised {
      color: blue;
      margin-right: 5px;
    }
  }
}
