$raised-color: #6a8751;
$togo-color: #bc9f76;

.progress {
  .progress-bar {
    height: 20px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    background-color: $togo-color;
    border-radius: 10px;
    overflow: hidden;
    .raised {
      background-color: $raised-color;
      border-radius: 0px;
    }
  }
  .progress-numbers {
    margin-top: 20px;
    font-family: 'numbers';
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 30px;
    font-weight: bold;
    .of {
      font-size: 25px;
    }
    .goal {
      color: $togo-color;
      margin-left: 5px;
    }
    .raised {
      color: $raised-color;
      margin-right: 5px;
    }
  }

  .tree {

  }
}
