.title {
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 5vh;
  -o-transition: top 1s; /* Opera */
  -moz-transition: top 1s; /* Firefox */
  -webkit-transition: top 1s;
  -webkit-backface-visibility: hidden;
  transition: top 1s;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    img {
      display: block;
      max-width: 500px;
    }
  }
  .subtitle {
    text-align: center;
    font-family: 'main';
    font-weight: bold;
    font-size: 19px;
    position: relative;
    z-index: 2;
  }
}

@media screen and (max-width: 1200px) {
    .logo {
      img {
        width: 100%;
        max-width: 100%;
      }
    }
}
