.title {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    img {
      display: block;
      max-width: 500px;
    }
  }
  .subtitle {
    text-align: center;
    font-family: 'main';
    font-weight: bold;
    font-size: 19px;
    position: relative;
    z-index: 2;
  }
}

@media screen and (max-width: 1200px) {
    .logo {
      img {
        width: 100%;
        max-width: 100%;
      }
    }
}
